@font-face {
    font-family: 'Cafe24Ohsquare001';
    src:
        url('https://cubic7272.github.io/website/fonts/Cafe24Ohsquare_001.woff2')  format('woff2');
    font-weight: normal;
    font-style: normal;
}
